<!-- [style]="'mapbox://styles/mapbox/streets-v9'" -->

<div class="zoomHH" (click)="zommHH()">
  <img [src]="'Hamburg_Button.svg'">
</div>
<mgl-map
  [style]="'mapbox://styles/tagderstadtnatur/cjgm4wiev003s2rmh6g0yz56a'"
  (load)="onMapLoaded($event)"
  [zoom]="mapZoom"
  [center]="mapCenter"
  [cursorStyle]="cursorStyle"
  [dragRotate]="false"
>

  <mgl-control mglNavigation></mgl-control>

  <mgl-geojson-source
    id="'points-source'"
    [data]="dataSource | async"
  >
  </mgl-geojson-source>

<!-- icons per Kategorie -->
  <mgl-image
    id="empty"
    url="blop_empty.png"
    (loaded)="blopsLoaded('blop7_loaded')"
  >
  </mgl-image>
  <mgl-layer
    *ngIf="blops_loaded.blop7_loaded"
    [minzoom]="0"
    [maxzoom]="24"
    id="empty-layer"
    type="symbol"
    source="'points-source'"
    [filter]="['!has', 'point_count']"
    [layout]="{'icon-image': 'empty', 'icon-size': 0.75, 'icon-allow-overlap': true, 'icon-anchor': 'bottom', 'symbol-spacing': 10, 'text-ignore-placement': true, 'icon-ignore-placement': true, 'text-allow-overlap': true}"
    [paint]="{'icon-opacity': 0 }"
    (click)="onClick($event)"
    (mouseEnter)="cursorStyle = 'pointer'"
    (mouseLeave)="cursorStyle = ''"
  >
  </mgl-layer>


  <mgl-image
    id="boot"
    url="blop_boot.png"
    (loaded)="blopsLoaded('blop1_loaded')"
  >
  </mgl-image>
  <mgl-layer
    *ngIf="blops_loaded.blop1_loaded && blops_loaded.blop7_loaded"
    [minzoom]="0"
    [maxzoom]="24"
    id="boot-layer"
    type="symbol"
    source="'points-source'"
    [filter]="['all', ['!has', 'point_count'], ['==', 'Kategorie', 'Schiffs-/Kanutour']]"
    [layout]="{'icon-image': 'boot', 'icon-size': 0.75, 'icon-allow-overlap': true, 'icon-anchor': 'bottom', 'symbol-spacing': 10, 'text-ignore-placement': true, 'icon-ignore-placement': true, 'text-allow-overlap': true }"
    [paint]="{'icon-opacity': 1 }"
    [before]="'empty-layer'"
  >
  </mgl-layer>

  <mgl-image
    id="wanderung"
    url="blop_wanderung.png"
    (loaded)="blopsLoaded('blop2_loaded')"
  >
  </mgl-image>
  <mgl-layer
    *ngIf="blops_loaded.blop2_loaded && blops_loaded.blop7_loaded"
    [minzoom]="0"
    [maxzoom]="24"
    id="wanderung-layer"
    type="symbol"
    source="'points-source'"
    [filter]="['all', ['!has', 'point_count'], ['==', 'Kategorie', 'Wanderung']]"
    [layout]="{'icon-image': 'wanderung', 'icon-size': 0.75, 'icon-allow-overlap': true, 'icon-anchor': 'bottom', 'symbol-spacing': 10, 'text-ignore-placement': true, 'icon-ignore-placement': true, 'text-allow-overlap': true }"
    [paint]="{'icon-opacity': 1 }"
    [before]="'empty-layer'"
  >
  </mgl-layer>

  <mgl-image
    id="sonstiges"
    url="blop_sonstiges.png"
    (loaded)="blopsLoaded('blop3_loaded')"
  >
  </mgl-image>
  <mgl-layer
    *ngIf="blops_loaded.blop3_loaded && blops_loaded.blop7_loaded"
    [minzoom]="0"
    [maxzoom]="24"
    id="sonstiges-layer"
    type="symbol"
    source="'points-source'"
    [filter]="['all', ['!has', 'point_count'], ['==', 'Kategorie', 'Sonstiges']]"
    [layout]="{'icon-image': 'sonstiges', 'icon-size': 0.75, 'icon-allow-overlap': true, 'icon-anchor': 'bottom', 'symbol-spacing': 10, 'text-ignore-placement': true, 'icon-ignore-placement': true, 'text-allow-overlap': true }"
    [paint]="{'icon-opacity': 1 }"
    [before]="'empty-layer'"
  >
  </mgl-layer>

  <mgl-image
    id="geotag"
    url="blop_geotag.png"
    (loaded)="blopsLoaded('blop4_loaded')"
  >
  </mgl-image>
  <mgl-layer
    *ngIf="blops_loaded.blop4_loaded && blops_loaded.blop7_loaded"
    [minzoom]="0"
    [maxzoom]="24"
    id="geotag-layer"
    type="symbol"
    source="'points-source'"
    [filter]="['all', ['!has', 'point_count'], ['==', 'Kategorie', 'Geo Tag der Natur']]"
    [layout]="{'icon-image': 'geotag', 'icon-size': 0.75, 'icon-allow-overlap': true, 'icon-anchor': 'bottom', 'symbol-spacing': 10, 'text-ignore-placement': true, 'icon-ignore-placement': true, 'text-allow-overlap': true }"
    [paint]="{'icon-opacity': 1 }"
    [before]="'empty-layer'"
  >
  </mgl-layer>

  <mgl-image
    id="kind"
    url="blop_kind.png"
    (loaded)="blopsLoaded('blop5_loaded')"
  >
  </mgl-image>
  <mgl-layer
    *ngIf="blops_loaded.blop5_loaded && blops_loaded.blop7_loaded"
    [minzoom]="0"
    [maxzoom]="24"
    id="kind-layer"
    type="symbol"
    source="'points-source'"
    [filter]="['all', ['!has', 'point_count'], ['==', 'Kategorie', 'Kinderprogramm']]"
    [layout]="{'icon-image': 'kind', 'icon-size': 0.75, 'icon-allow-overlap': true, 'icon-anchor': 'bottom', 'symbol-spacing': 10, 'text-ignore-placement': true, 'icon-ignore-placement': true, 'text-allow-overlap': true }"
    [paint]="{'icon-opacity': 1 }"
    [before]="'empty-layer'"
  >
  </mgl-layer>

  <mgl-image
    id="rad"
    url="blop_rad.png"
    (loaded)="blopsLoaded('blop6_loaded')"
  >
  </mgl-image>
  <mgl-layer
    *ngIf="blops_loaded.blop6_loaded && blops_loaded.blop7_loaded"
    [minzoom]="0"
    [maxzoom]="24"
    id="rad-layer"
    type="symbol"
    source="'points-source'"
    [filter]="['all', ['!has', 'point_count'], ['==', 'Kategorie', 'Fahrradtour']]"
    [layout]="{'icon-image': 'rad', 'icon-size': 0.75, 'icon-allow-overlap': true, 'icon-anchor': 'bottom', 'symbol-spacing': 10, 'text-ignore-placement': true, 'icon-ignore-placement': true, 'text-allow-overlap': true }"
    [paint]="{'icon-opacity': 1 }"
    [before]="'empty-layer'"
  >
  </mgl-layer>
<!-- icons per Kategorie Ende -->

  <mgl-popup *ngIf="selectedPoints" [lngLat]="selectedPoints[0].geometry?.coordinates" (close)="onPopupClose()" [closeOnClick]="false" [offset]="[0, -6]">
    <div class="popup">
      <div class="card" *ngFor="let selP of selectedPoints; let i = index" [class.active]="popupActiveIndex == i" [class.multi]="selectedPoints.length > 1">
        <div (click)="selectedPoints.length > 1 ? onPopupCardClick(i) : null">
          <div *ngIf="selectedPoints.length == 1" class="img-wrapper">
            <img [src]="selP.properties?.Bild">
          </div>
          <div class="content-wrapper">
            <div class="subTitle" [style.display]="'inline'">
              <span [style.float]="'right'" [style.font-weight]="'normal'">{{selP.properties?.Veranstaltungscode}}</span>
              <span>
                {{selP.properties?.Tag == 'Freitag' ? days[0].longName : selP.properties?.Tag == 'Samstag' ? days[1].longName : days[2].longName }},
              </span>
              <span>
                {{selP.properties?.Anfangszeit}} - {{selP.properties?.Endzeit}} Uhr
              </span>
            </div>
            <h2 class="tdsn-green title" [style.margin]="'0 0 0.5em 0'">
              <img [src]="'' + icons[selP.properties?.Kategorie]" [style.height]="'1em'">
              {{selP.properties?.Titel}}
            </h2>
            <p class="desc">
              {{selP.properties?.Beschreibungstext}}
            </p>
            <div class="addInfo">
              <span *ngIf="selP.properties?.Anmeldung != 'Anmeldung nicht erforderlich'" [style.display]="'block'" class="tdsn-blue">
                 {{selP.properties?.Anmeldung}}
              </span>
              <span [style.font-weight]="'bold'">
                Kosten:
              </span>
              <span *ngIf="selP.properties?.Kosten_Erwachsene">
                 Erwachsene {{selP.properties?.Kosten_Erwachsene}} <span *ngIf="selP.properties?.Kosten_Erwachsene != 'kostenlos'">€</span>,
              </span>
              <span *ngIf="selP.properties?.Kosten_Kinder">
                 Kinder {{selP.properties?.Kosten_Kinder}} <span *ngIf="selP.properties?.Kosten_Erwachsene != 'kostenlos'">€</span>
              </span>
            </div>
            <span class="more tdsn-green" (click)="openPoint(selP)">Alle Details</span>
          </div>
        </div>
      </div>
    </div>
  </mgl-popup>
</mgl-map>

<div class="side-panel" [class.onSide]="sideP_onSide">
  <div class="opener" (click)="sideP_onSide = !sideP_onSide">
    <i *ngIf="sideP_onSide" class="fas fa-chevron-right"></i>
    <i *ngIf="!sideP_onSide"class="fas fa-chevron-left"></i>
  </div>
  <div class="content-wrapper">
    <div class="welcome">
      <img class="logo" [src]="'tdsn_logo.svg'">
      <div class="when">16. - 17. Juni 2018</div>
      <h4 class="tdsn-grey">Filtern Sie die angezeigten Veranstaltungen und stöbern Sie in unserer Karte.</h4>
    </div>
    <div class="content">
      <div class="search">
        <h3 class="tdsn-green">Suche</h3>
        <div class="input">
          <input [(ngModel)]="textFilter" (ngModelChange)="filterByText()" name="'textFilter'" placeholder="Freitextsuche">
          <div class="clearSearch tdsn-bg-orange" *ngIf="textFilter !== ''" (click)="textFilter = ''; filterByText()">LÖSCHEN</div>
          <div class="results" *ngIf="textFilter !== '' && (dataSource | async).features">
            <div class="res" *ngFor="let res of (dataSource | async)['features']" (click)="onClick({'features': [res]}); sideP_onSide = true;" [class.active]="selectedPoints ? selectedPoints[0] == res : false">{{res.properties.Titel}}</div>
            <div class="res nores" *ngIf="(dataSource | async)['features'].length == 0">keine Ergebnisse zur Suche</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="switches">
        <h3 class="tdsn-green">Kategorien</h3>
        <div class="grid-auto">
          <label *ngFor="let cat of categories">
            <input type="checkbox" [(ngModel)]="cat.selected" (ngModelChange)="filterByFlags()" name="'cat'" value="{{cat.selected}}">
            <span>
              <img [src]="'' + icons[cat.value]" [style.height]="'1em'">
              {{cat.value}}
            </span>
          </label>
        </div>
      
        <h3 class="tdsn-green">Weitere Kriterien</h3>
        <div class="grid-auto">
          <label *ngFor="let crit of criteria">
            <input type="checkbox" [(ngModel)]="crit.selected" (ngModelChange)="filterByFlags()" name="'crit'" value="{{crit.selected}}">
            {{crit.displayName}}
          </label>
        </div>
      
        <h3 class="tdsn-green">Wann?</h3>
        <div class="grid-auto">
          <label>
            <input type="checkbox" [(ngModel)]="days[0].selected" (ngModelChange)="filterByFlags()" name="'day'" value="{{days[0].selected}}">
            Freitag, 15. Juni
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="days[1].selected" (ngModelChange)="filterByFlags()" name="'day'" value="{{days[1].selected}}">
            Samstag, 16. Juni
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="days[2].selected" (ngModelChange)="filterByFlags()" name="'day'" value="{{days[2].selected}}">
            Sonntag, 17. Juni
          </label>
        </div>
        <br>
        <div class="grid-auto">
          <label *ngFor="let time of times">
            <input type="checkbox" [(ngModel)]="time.selected" (ngModelChange)="filterByFlags()" name="'time'" value="{{time.selected}}">
            {{time.value}}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bottom-panel" *ngIf="openedPoints.length > 0" [class.onSide]="bottomP_onBottom">
  <div class="opener" (click)="bottomP_onBottom = !bottomP_onBottom">
    <i *ngIf="bottomP_onBottom" class="fas fa-chevron-up"></i>
    <i *ngIf="!bottomP_onBottom" class="fas fa-chevron-down"></i>
  </div>
  <div class="tabs">
    <div class="tab-bar">
      <ng-container *ngFor="let tab of openedPoints; let i = index">
        <ng-container *ngIf="!tab?.faved">
          <div class="tab" [class.active]="activeTabIndex == i">
            <div class="title-wrapper">
              <span class="title" (click)="setActiveTab(i);">{{tab.properties?.Titel | xChars:20}}</span>
            </div>
            <span class="closeX" (click)="saveFav(tab)">
              <i class="far fa-star tdsn-green"></i>
            </span>
          </div>
        </ng-container>
      </ng-container>
      <div class="favSeperator" *ngIf="openedPoints.length > 1 || openedPoints[0].faved">
        <i class="fas fa-star"></i>:
      </div>
      <ng-container *ngFor="let tab of openedPoints; let i = index">
        <ng-container *ngIf="tab?.faved">
          <div class="tab" [class.active]="activeTabIndex == i">
            <div class="title-wrapper">
              <span class="title" (click)="setActiveTab(i);">{{tab.properties?.Titel | xChars:20}}</span>
            </div>
            <span class="closeX" (click)="removeFav(tab)">
              <i class="fas fa-star tdsn-green"></i>
            </span>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <ng-container *ngFor="let tabContent of openedPoints; let i = index">
      <div class="tab-content" [hidden]="activeTabIndex != i">
        <div class="header">
          <h3 class="tdsn-green title" (click)="reopenPopup(tabContent)" [style.cursor]="'pointer'">
            <span class="float-R margin-R" [style.font-weight]="'normal'">{{tabContent.properties?.Veranstaltungscode}}</span>
            {{tabContent.properties?.Titel}}
            <img [src]="'' + icons[tabContent.properties?.Kategorie]">
          </h3>
        </div>
        <div *ngIf="favExplain && tabContent.faved" class="favExplain">
          <span>Veranstaltung gespeichert! Erneut klicken zum Entfernen.</span>
          <div class="favClose" (click)="favExplain = false">ok!</div>
        </div>

        <div class="main">
          
            <div class="img-wrapper">
              <img class="img" [src]="tabContent.properties?.Bild">
            </div>
            <div class="left">
              <p class="margin-bottom">
                {{tabContent.properties?.Beschreibungstext}}
              </p>
              <div class="margin-bottom">
                <span class="label">
                  Kategorie:
                </span>
                {{tabContent.properties?.Kategorie}}
              </div>

              <div class="icons-wrapper margin-bottom" [style.display]="'inline-flex'">
                <ng-container *ngFor="let icon of criteria">
                  <div class="icon" *ngIf="icon.name != 'Sehbehinderte-Sonderfuehrungen' && icon.value == tabContent.properties[icon.name]" (click)="iconsText = !iconsText">
                    <ng-container [ngSwitch]="icon.name">
                      <span *ngSwitchCase="'WC'" class="fa-stack fa-lg ">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i style="margin-left: -0.35em; " class="fa fa-male fa-stack-1x fa-inverse"></i>
                        <i style="margin-left: 0.35em; " class="fa fa-female fa-stack-1x fa-inverse"></i>
                      </span>
                      <span *ngSwitchCase="'Sehbehinderte'" class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fas fa-blind fa-stack-1x fa-inverse"></i>
                      </span>
                      <span *ngSwitchCase="'Rollstuhl'" class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fab fa-accessible-icon fa-stack-1x fa-inverse"></i>
                      </span>
                      <span *ngSwitchCase="'Hoergeschaedigt'" class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fas fa-deaf fa-stack-1x fa-inverse"></i>
                      </span>
                      <span *ngSwitchCase="'Hunde'" class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fas fa-paw fa-stack-1x fa-inverse"></i>
                      </span>
                      <span *ngSwitchCase="'Essen'" class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
                      </span>
                    </ng-container>
                  </div>
                </ng-container>
                <div class="iconsText" *ngIf="iconsText">
                  <ng-container *ngFor="let icon of criteria">
                    <div *ngIf="icon.name != 'Sehbehinderte-Sonderfuehrungen' && icon.value == tabContent.properties[icon.name]">
                      {{icon.displayName}}
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>

            <div class="center">
              <div class="margin-bottom">
                <span class="label">
                  Wann:
                </span>
                {{tabContent.properties?.Tag}}, {{tabContent.properties?.Anfangszeit}} - {{tabContent.properties?.Endzeit}} Uhr
              </div>
              
              <div class="margin-bottom">
                <span class="label">
                  Kosten:
                </span>
                <span *ngIf="tabContent.properties?.Kosten_Erwachsene">
                  Erwachsene {{tabContent.properties?.Kosten_Erwachsene}}
                  <span *ngIf="tabContent.properties?.Kosten_Erwachsene != 'kostenlos'">€</span>,
                </span>
                <span *ngIf="tabContent.properties?.Kosten_Kinder">
                  Kinder {{tabContent.properties?.Kosten_Kinder}}
                  <span *ngIf="tabContent.properties?.Kosten_Erwachsene != 'kostenlos'">€</span>
                </span>
              </div>

              <div class="margin-bottom tdsn-blue" [style.font-weight]="'bold'">
                {{tabContent.properties?.Anmeldung}}
              </div>
              
              <div class="margin-bottom details-Anmeldung-Btn" *ngIf="tabContent.properties?.Anmeldung != 'Anmeldung nicht erforderlich'">
                <div [class.ausgebucht]="openedPoints[activeTabIndex]['ticketStatus'] == 'Leider ausgebucht'">{{openedPoints[activeTabIndex]["ticketStatus"]}}</div>
                <a *ngIf="openedPoints[activeTabIndex]['ticketStatus'] != 'Leider ausgebucht'" class="link" [href]="'https://tagderstadtnaturhamburg.de/start/2018/eventbrite.html&nummer=' + tabContent.properties?.Veranstaltungscode" target="_blanc">
                  <!-- <button class="tdsn-button tdsn-bg-orange">
                    Anmelden
                  </button> -->
                  zur Anmeldung
                </a>
              </div>
              
              <div class="margin-bottom" *ngIf="tabContent.properties?.Ausruestung != ''">
                <span class="label">
                  Ausrüstung:
                </span>
                {{tabContent.properties?.Ausruestung}}
              </div>
              
              <div class="margin-bottom">
                <a class="link" [href]="'https://tagderstadtnaturhamburg.de/start/2018/info.html?nummer=' + tabContent.properties.Veranstaltungscode" target="_blanc">
                  Zur Eventseite
                </a>
              </div>
            </div>

            <div class="right">
              <div class="margin-bottom">
                <span class="label">
                  Treffpunkt:
                </span>
                {{tabContent.properties?.Treffpunkt}}
              </div>

              <div class="margin-bottom">
                <span class="label">
                  Anfahrt:
                </span>
                {{tabContent.properties?.Anfahrt}}
              </div>

              <div class="margin-bottom">
                <span class="label">
                  Veranstalter:
                </span>
                {{tabContent.properties?.Veranstalter}}
              </div>
              
            </div>

        </div>
      </div>
    </ng-container>
  </div>
</div>