.tdsn-green {
    color: var(--main-green);
}

.tdsn-grey {
    color: var(--main-grey);
}

.tdsn-blue {
    color: var(--main-blue);
}

.tdsn-orange {
    color: var(--main-orange);
}

.tdsn-bg-orange {
    background-color: var(--main-orange);
}


::ng-deep {
    .mapboxgl-ctrl-top-right {
        top: calc(50% - 100px);
    }
}

mgl-map {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    @media (min-width: 800px) {
        left: 450px;
    }
}

.zoomHH {
    position: absolute;
    width: 19px;
    height: 19px;
    right: 22px;
    top: calc(50% + 5px);
    z-index: 999;
    cursor: pointer;
}

.tdsn-button {
    border-radius: 4px;
    min-width: 60px;
    min-height: 30px;
    color: white;
    letter-spacing: 1.5px;
    margin-left: 6px;
}

.side-panel {
    position: absolute;
    width: 85vw;
    background-color: rgb(249, 249, 249);
    box-sizing: border-box;
    padding: 16px 6px 16px 16px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3);

    @media (min-width: 800px) {
        left: 0;
        width: 450px;
        box-shadow: none;
        top: 0;
        height: 100%;
    }
    
    .opener {
        position: absolute;
        right: -34px;
        top: 20px;
        background-color: rgb(249, 249, 249);
        width: 34px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.2em;
        color: var(--main-green);
        box-shadow: 4px 0 3px -2px rgba(0, 0, 0, 0.3),
                    2px -4px 3px -2px rgba(0, 0, 0, 0.3),
                    2px 4px 3px -2px rgba(0, 0, 0, 0.3);

        @media (min-width: 800px) {
            display: none;
        }
    }
    
    &.onSide {
        
        @media (max-width: 800px) {
            transform: translateX(-100%);
        }
    }

    .content-wrapper {
        height: 100%;
        top: 0;
        overflow: auto;
        position: relative;
        max-height: 90vh;
        padding-right: 10px;

        @media (max-width: 799px) {
            max-height: 80vh;
        }

        
        .welcome {

            h4 {
                margin-top: 2em;
            }            

            @media (max-width: 799px) {
                h4 {
                    margin-top: initial;
                    font-size: 0.8em;
                    margin: 0.2em 0;
                    line-height: 1.1em;
                }
            }

            .when {
                color: var(--main-green-light);
                font-size: 1.7em;
                margin-top: 0.4em;
                position: relative;
                left: -2px;

                @media (max-width: 799px) {
                    display: none;
                }
            }

            .logo {
                max-width: 100%;
                max-height: 100px;
                
                @media (max-width: 799px) {
                    max-height: 40px;
                }
            }
        }
        
        .content {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: min-content 0px min-content;
            grid-gap: 8px;
            border: 1px solid var(--main-green);
            border-radius: 6px;
            
            .search {
                display: flex;
                flex-direction: column;
                position: relative;
                // border: 1px solid lightgrey;
                padding: 8px;
                border-radius: 6px;

                h3 {
                    margin-bottom: 0.4em;
                }

                .input {
                    position: relative;
                    flex: 1 0 auto;
                    display: flex;
                    line-height: 2em;
                    border: 1px solid black;
                    align-items: center;

                    input {
                        flex: 1 0 auto;
                        line-height: 2em;
                        padding-left: 5px;
                        outline: none;
                    }

                    .clearSearch {
                        position: absolute;
                        padding: 0 6px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        top: 2px;
                        right: 2px;
                        bottom: 2px;
                        line-height: 1.8em;
                    }

                    .results {
                        position: absolute;
                        overflow: auto;
                        top: 100%;
                        background-color: white;
                        max-height: 320px;
                        box-shadow: 0 3px 3px 1px rgba(0,0,0,.3);
                        box-sizing: border-box;
                        width: 98%;
                        left: 1%;
        
                        .res {
                            padding: 2px 4px;
                            border-bottom: 1px solid lightgray;
                            line-height: 1.8em;
        
                            &.active {
                                background-color: lightblue;
                            }
                        }
                    }
                }
            }

            hr {
                width: 90%;
            }
    
            .switches {
                // border: 1px solid lightgrey;
                padding: 8px;
                border-radius: 6px;
                padding-bottom: 1.2em;

                h3 {
                    margin-bottom: 0.4em;
                }
    
                .grid-auto {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    
                    label {
                        display: grid;
                        grid-template-columns: 1fr 8fr;
                    }
                }
            }
        }

    }
}

.bottom-panel {
    position: absolute;
    bottom: 0;
    z-index: 999; //mapbox logo
    left: 450px;
    width: calc(100% - 450px);
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 -4px 3px -2px rgba(0,0,0,.3);

    @media (max-width: 1279px) {
        left: 0;
        width: 100%;
    }

    .opener {
        position: absolute;
        right: 3vw;
        top: -24px;
        background-color: white;
        width: 60px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.2em;
        color: var(--main-green);
        box-shadow: 0 -4px 3px -2px rgba(0, 0, 0, 0.3),
                    -4px -2px 3px -2px rgba(0, 0, 0, 0.3),
                    4px -2px 3px -2px rgba(0, 0, 0, 0.3);
    }

    &.onSide {
        transform: translateY(calc(100% - 3em));
    }
}

.popup {
    width: 70vw;
    max-width: 360px;
    max-height: 46vh;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,.3);
    border-radius: 6px;

    .card {
        overflow: hidden;
        height: 4.12em;
        background-color: white;
        
        &.multi {
            margin: 2px 0;
            padding: 3px;
        }
        
        &:not(.active) {
            cursor: pointer;
        }

        &.multi:not(.active) {
            .content-wrapper {
                padding-top: 0px;
            }
        }

        &.active {
            height: auto;
        }

        &:not(:first-child) {
            border-top: 1px solid lightgray;
        }

        &:not(.active) {
            padding-top: 6px;
        }

        p {
            margin-top: 0;
        }

        .img-wrapper {
            height: 180px;
            width: 100%;
            overflow: hidden;
    
            img {
                display: block;
                position: relative;
                width: 360px;
                top: -20%;
            }
        }

        .content-wrapper {
            padding: 12px;

            .subTitle {
                font-size: 1.1em;
            }

            .title {
                text-transform: uppercase;
                letter-spacing: 0.02em;
            }

            .desc {
                font-size: 1.2em;
            }

            .addInfo, .subTitle {
                font-size: 1.2em;
            }

            .subTitle {
                font-weight: bold;
            }

            .more {
                float: right;
                font-weight: bold;
                font-size: 1.4em;
                user-select: none;
                cursor: pointer;
                line-height: 2em;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}

::ng-deep{
    .mapboxgl-popup-content {
        padding: 0;
    }

    .mapboxgl-popup-close-button {
        top: -24px;
        right: -24px;
        width: 1.2em;
        border-radius: 0;
        font-size: 2.5em;
        font-weight: lighter;
        line-height: 1em;
        border: 1px solid lightgray;
        background-color: white;
        cursor: pointer;
        z-index: 1;
        border-radius: 4px;

        &:hover {
            background-color: white;
        }
    }
}

.tabs {
    position: relative;
    height: 100%;
    min-height: 277px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 8px;
    box-sizing: border-box;

    .tab-bar {
        flex: 0 0 auto;
        display: flex;
        margin-bottom: 4px;
        padding-bottom: 4px;
        position: relative;
        overflow-y: hidden;
        overflow-x: auto;
        color: inherit;
        line-height: inherit;
        height: inherit;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: lightgray;
            bottom: 0;
        }

        .favSeperator {
            position: relative;
            margin: 0 0px 0 25px;
            top: 6px;

            i {
                color: gold;
            }

            &:first-child{
                margin-left: 134px;
            }
        }
        
        .tab {
            position: relative;
            margin: 0 3px;
            width: 120px;
            display: flex;
            padding: 4px;
            
            .title-wrapper {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 0.9em;
                flex: 1 1 auto;
                position: relative;
                top: 4px;
            }

            &.active {
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    bottom: -4px;
                    background-color: var(--main-green-light);
                    z-index: 1;
                    left: 0;
                }
            }

            .closeX {
                width: 24px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                line-height: 1em;
                cursor: pointer;

                &:hover {
                    background-color: white;
                }
            }
        }
    }
    
    .tab-content {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        height: calc(100% - 32px);
        overflow: auto;
        
        .header {
            width: 100%;
            margin: 0.2em 0;

            .closeX {
                width: 24px;
                border: 1px solid;
                border-radius: 12px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                line-height: 1em;
                background-color: white;
                cursor: pointer;

                &:hover {
                    background-color: white;
                }

                @media (max-width: 800px) {
                    display: none;
                }
            }

            .float-R {
                float: right;
            }

            .margin-R {
                margin-right: 6px;
            }

            .title {
                text-transform: uppercase;
                margin: 0.2em 0.4em 0.4em 0;
                letter-spacing: 0.02em;

                img {
                    height: 1em;
                    vertical-align: text-top;
                    display: inline-block;
                    margin-left: 6px;
                    bottom: 3px;
                    position: relative;
                }
            }
        }
    
        .favExplain {
            position: absolute;
            background-color: var(--main-blue);
            text-align: center;
            margin: 0 auto;
            margin-left: 80px;
            padding: 12px;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.3);
            border-radius: 3px;
            color: white;

            .favClose {
                border: 1px solid;
                width: 50%;
                min-width: 100px;
                margin: 0 auto;
                margin-top: 12px;
                cursor: pointer;
            }
        }
        
        .main {
            flex: 1 0 auto;
            font-size: 0.9em;
            background-color: rgba(255, 255, 255, 0.6);
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
            grid-gap: 8px;
            max-height: 60vh;

            // @media (max-width: 600px) {
            //     grid-template-columns: 1fr;
            //     grid-template-rows: 30% 2fr;
            // }

            
            .img-wrapper {
                overflow: hidden;
                margin-right: 6px;

                .img {
                    max-height: 200px;
                    margin: 0 auto;
                    display: block;
                }
            }

            // .content {
            //     flex: 2;
            //     overflow: auto;
            //     background-color: rgba(255, 255, 255, 0.6);
            //     display: grid;
            //     grid-template-columns: 1fr 1fr 1fr;
            //     grid-gap: 8px;

                p {
                    margin-top: 0;
                }

                .icons-wrapper {
                    font-size: 0.8em;
                    color: var(--main-grey);
                    display: inline-flex;
                    position: relative;

                    .fa-circle {
                        color: var(--main-green-light);
                    }

                    .icon {
                        .fa-blind {
                            color: white !important; // fix Js css
                        }
                    }

                    .iconsText {
                        position: absolute;
                        left: 100%;
                        bottom: 0;
                        margin-left: 5px;
                        padding: 4px;
                        background-color: whitesmoke;
                    }
                }
                

                .label {
                    color: var(--main-green);
                    font-weight: bold;
                }

                .margin-bottom {
                    margin-bottom: 0.4em;
                }

                .link {
                    text-transform: uppercase;
                    text-decoration: underline;
                    user-select: none;
                    color: var(--main-blue);
                }
            // }

        }
    }
}

.ausgebucht {
    color: rgb(200, 0, 0);
    font-weight: bold;
}