/* You can add global styles to this file, and also import other style files */

*[hidden] {
    display: none !important;
}

:root {
  --main-green: #0D4E2E;
  --main-green-light: rgb(105, 158, 4);
  --main-grey: #4A4A4A;
  --main-blue: #4C85BF;
  --main-orange: rgb(241, 126, 0);
}


@font-face {
    font-family: myriadReg;
    src: url("MyriadPro-Regular.otf");
}

// @font-face {
//     font-family: agendaMed;
//     src: url("/assets/fonts/Agenda-Medium_2390.ttf");
// }


.tdsn-karte-app-root {
    font: 16px/20px 'myriadReg', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
    overflow: hidden;

    h1, h2, h3, h4, h5 {
        font-weight: 700;
    }

    .mapboxgl-map {
        font-family: 'myriadReg';
    }
}
